.category-container {
    display: block;
}

.category-button-div {
    display: block;
    margin-top: 50px;
    text-align: center;
}

/*   background: #ec6a5e #f5bf4f #61c554  */ 

.category-button-div button {
    border: none;
    background: #252525;
    color: white;
    height: 40px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow:  0 0 10px gray;
    cursor: pointer;
    font-size: 15px;
}

.btn-active {
    transition: 0.9s;
    width: 250px;
}

.btn-not-active {
    transition: 1s;
    width: 30px;
}

.not-clicked {
    width: 85px;
}
















