* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background: #0F3460;
}

.error-text {
  text-align: center;
  font-size: 80px;
  padding-top: 230px;
  color: white;
}

.error-button-layout {
  width: 100%;
}

.error-button {
  display: block;
  margin: auto;
  border: 0;
  background: transparent;
  color: white;
}
