.myPage-container {
    display: block;
}

.myPage-layout-top {
    display: flex;
    height: 320px;
    background: #f5f5f5;
}   

.color-div {
    display: flex;
    margin-left: 2px;
}

.blue-color, .red-color, .green-color, .gray-color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.red-color {
    background: #FFA184;
}

.blue-color {
    background: #8685EF;
}

.green-color {
    background: #00C896;
}

.gray-color {
    background: #F5F5F5;
}

.profile-button-div {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.profile-button {
    display: block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: #008BE9;
    color: white;
    border: 0;    
    border-radius: 30px;
    outline: 0;
    transition: 0.2s;
    box-shadow: 1px 1px 3px 1px black;
}

.profile-button:hover {
    outline: 0;
    transition: 0.6s;
    box-shadow: 0px 0px 0px 0px ;
}

.myPage-layout-bottom {
    display: inline-flex;
}

.profile-img {
    display: flex;
    position: relative;
    bottom: 150px;
    width: 230px;
    height: 230px;
    margin: 0 30px;
    border-radius: 100px;
}

.profile-name {
    display: flex;
    margin-top: 10px;
}

.introduce-text {
    display: flex;
    font-weight: 700;
}

.progress-text {
    display: block;
    font-weight: bold;
}

.Progress-container {
    display: block;
    position: relative;
    top: 90px;
    margin-left: -320px;
}

.progress-bar {
    appearance: none;
}

.progress-bar::-webkit-progress-bar {
    max-width: 900px;
    width: 100vw;
    height: 10px;
    background: #f5f5f5;
}

.progress-bar::-webkit-progress-value {
    background: #2C73D2;
    border-radius: 100px;
}

@media(min-width: 1230px) and (max-width: 1440px) {
    .myPage-layout-top {
        height: 550px;
    }

    

}

@media(min-width: 1024px) and (max-width: 1229px) {
    .myPage-layout-top {
        height: 600px;
    }

    .color-div {
        display: inline-block;
        margin-left: 3px;
    }

    .blue-color, .red-color, .green-color, .gray-color { 
        width: 50px;
    }

    .profile-button {
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .profile-img {
        width: 250px;
        height: 250px;
    }

    .profile-name {
        font-size: 30px;
    }
    
    .introduce-text {
        font-size: 17px;
    }

    .Progress-container {
        margin-top: 45px;
    }

    .progress-div {
        margin-top: 30px;
    }

    .progress-text {
        font-size: 20px;
    }

    /* .progress-bar::-webkit-progress-bar {
        width: 550px;
        height: 20px;
        background: #f5f5f5;
    } */
}

@media(min-width: 550px) and (max-width: 960px) {
    .myPage-layout-top {
        height: 450px;
    }
    
    .color-div {
        display: inline-block;
        margin-left: 3px;
    }

    .blue-color, .red-color, .green-color, .gray-color { 
        width: 50px;
    }

    .profile-button {
        width: 150px;
        height: 40px;
        font-size: 20px;
    }

    .profile-img {
        width: 230px;
        height: 230px;
        bottom: 130px;
    }

    .profile-button {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }

    .profile-name {
        font-size: 30px;
    }

    .introduce-text {
        font-size: 20px;
    }

    .Progress-container {
        margin-top: 90px;   
    }

    .progress-div {
        margin-top: 20px;
    }

    .progress-text {
        font-size: 20px;
    }

    /* .progress-bar::-webkit-progress-bar {
        width: 550px;
        height: 20px;
        background: #f5f5f5;
    } */

}

@media (min-width: 381px) and (max-width: 550px) { 

}

@media (min-width: 100px) and (max-width: 380px) { 
    
}