.post-container {
    display: block;
}

.post-title-layout {
    display: block;
    width: 65%;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 3px gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #004581;
}

.post-title h6 {
    padding: 2px 2px;
}

.post-info {
    display: flex;
}

.post-info span {
    font-size: 10px;
    position: relative;
    padding: 0 2px;
}

.title-item2 {
    margin-right: auto;
}

.title-item3, .title-item4, .title-item5 {
    margin-right: 3px;
}


