.post-container {
    display: block;
}

.post-title-layout {
    display: block;
    width: 65%;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 3px gray;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #004581;
}

.post-title h6 {
    padding: 2px 2px;
}

.post-info span {
    font-size: 10px;
    position: relative;
    padding: 0 2px;
    bottom: 5px;
}

.title-line {
    border-right: 1px solid black;
    height: 0.1px;  
}

.title-item3 {
    position: relative;
    margin-left: 775px;
}

.title-item2, .title-item4, .title-item5 {
    margin-left: 3px;
}


