/* 1rem당 16px */

.signUp-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.signUp-layout-left {
  display: block;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#004581, #000000);
}

.signUp-logo-img {
  display: block;
  width: 50rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.signUp-logo-text {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  position: relative;
  bottom: 2.5rem;
}

.signUp-layout-right {
  display: block;
  width: 35rem;
  height: 100vh;
  margin-top: 45px;
}

.signUp-text {
  display: block;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}

.inputs {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.inputs > input:nth-of-type(1) {
  border: none;
  outline: none;
  border-bottom: 0.5px solid black;
  margin-top: 2rem;
  width: 230px;
  padding: 5px 3px;
}

.inputs > input:nth-of-type(2) {
  border: none;
  outline: none;
  border-bottom: 0.5px solid black;
  margin-top: 3rem;
  width: 230px;
  padding: 5px 3px;
}

.inputs > input:nth-of-type(3) {
  border: none;
  outline: none;
  border-bottom: 0.5px solid black;
  margin-top: 3rem;
  width: 230px;
  padding: 5px 3px;
}

.inputs > input:nth-of-type(4) {
  border: none;
  outline: none;
  border-bottom: 0.5px solid black;
  margin-top: 3rem;
  width: 230px;
  padding: 5px 3px;
}

.signUp-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: none;
  background: #004581;
  color: white;
  font-weight: bold;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.signUp-button:hover {
  cursor: pointer;
  background: #0048;
}

.signUp-layout-bottom {
  text-align: center;
  margin-top: 20px;
}

.goLogin-text {
  display: inline-block;
  font-size: 13px;
}

.goLogin-text-link {
  font-size: 13px;
  padding-top: 20px;
  padding-left: 5px;
  color: #0095f6;
  cursor: pointer;
}

.pwVisible {
  text-align: center;
}

.pwHide, .pwShow {
  font-size: 5px;
  cursor: pointer;
}

.pwHide:hover {
  color: red;
}

.pwShow:hover {
  color: #0095f6;
}

.signUp-logo-text-mobile,
.signUp-logo-img-mobile {
  display: none;
}

.check-text {
  display: flex;
  font-size: 5px;
  color: red; 
  margin-top: 10px;
  margin-left: 92px;
}

@media (min-width: 1439px) and (max-width: 1440px) {
  .check-text {
    margin-left: 87px;
  }

  .signUp-layout-left2 {
    margin-top: 300px;
  }

  .signUp-layout-right {
    margin-top: 300px;
  }
}

@media (min-width: 200px) and (max-width: 1024px) {
  .signUp-container {
    background: #f5f5f5;
  }

  .signUp-layout-left {
    display: none;
  }

  .signUp-layout-right {
    width: 33rem;
    height: 850px;
    margin: auto;
    background: white;
    box-shadow: 0 0 7px gray;
  }

  .signUp-text {
    display: none;
  }

  .signUp-logo-img-mobile {
    display: block;
    width: 350px;
    height: 150px;
    margin: auto;
    margin-top: 60px;
  }

  .signUp-logo-text-mobile {
    display: block;
    text-align: center;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    bottom: 1rem;
  }

  .inputs > input:nth-of-type(1) {
    width: 300px;
    font-size: 20px;
  }

  .inputs > input:nth-of-type(2) {
    width: 300px;
    font-size: 20px;
  }

  .inputs > input:nth-of-type(3) {
    width: 300px;
    font-size: 20px;
  }

  .inputs > input:nth-of-type(4) {
    width: 300px;
    font-size: 20px;
  }
  
  .signUp-button {
    width: 250px;
    height: 40px;
    font-size: 17px;
  }

  .goLogin-text {
    margin-top: 50px;
    font-size: 18px;
  }

  .goLogin-text-link {
    font-size: 18px;
  }

  .pwHide, .pwShow {
    font-size: 15px;
    position: relative;
    top: 10px;
  }

  .check-text {
    margin-left: 115px;
  }

  @media (min-width: 250px) and (max-width: 426px) {
    .signUp-container {
      background: white;
    }

    .signUp-layout-left {
      display: none;
    }

    .signUp-layout-right {
      background: white;
      box-shadow: none;
    }

    .check-text {
      margin-left: 65px;
    }
  }
}
